h2 {
  color: #3b9d95;
  border-bottom: 1px solid #3b9d95;
  margin-top: 35px;
  padding-top: 20px;
}
h3 {
  color: #3b9d95;
  margin-top: 20px;
  padding-top: 15px;
}
a.no-underline {
  text-decoration: none;
}